
* {
    font-family :Arial, Helvetica, sans-serif;
    font-size:15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
  max-width :600px;
  margin:20px auto; 
}

h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  color: darkslategrey
}

.btn{
  color:white; 
  padding :8px 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
  
}


.green
{
  background-color: #4caf58;
}

.green:hover{
  background-color: #45a049;
}
 
.red
{
  background-color: #e8410d;
}

.red:hover{
  background-color: #e51313;
}

.inputsearch
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.inputsearch input
{
  width: 300px;
  padding:8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}


.table
{
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table tr
{
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin: 10px;
}

.table th{
  background-color: #F2F2F2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover{
  background-color: #ddd;
  cursor: pointer;
}

.table td{
   text-align: center;
}


.modal
{
  display: block;
  position:fixed;
  z-index: 1;
  left: 0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.modal-content
{
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

h2{
  text-align: center;
}

.close
{
  color: #aaaaaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus
{
  color:#000;
}

.modal h2
{
  font-weight: bold;
  margin-bottom: 20px;
  font-size: large;

}

.input-group
{
  margin-bottom: 10px;
}

.input-group label
{
  display: block;
  margin-bottom: 5px;
}

.input-group input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}